body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.section-space{

    height: 700px;
}

.two-colum{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.three-colum{

    width: 25%;
    float:left;
    margin-left: 3%;
    padding-left: 3%;

}
.two-colum img{
    width: 80%;
    
}
.three-colum img{

    width: 100%;
    border-radius: 20px;
}
.intro-text{

    margin-top: 200px;
}
.intro-text a {

    margin-top: 200px;
}
h1{

    font-size: 70px;
    color: #363958;
    font-weight: 700;
    margin: 0;
}
h2{
    font-size: 48px;
    color: #363958;
    font-weight: 700;
    margin: 0;
}
h3{
    font-size: 50px;
    color: #363958;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}
p{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 40px;
}
a{
    font-size: 18px;
    font-weight: bold;
}
.header-style{
    color: orangered;
   
}
.link-button{

    padding: 15px 40px;
    background-color: orangered;
    color: #363958;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}
.link-button:hover{

    padding: 20px5px 45px;
    background-color :#363958;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
.latest-work{
    background-color: #E5E5E5;
    padding: 100px 0;
    height: 600px;
    margin-top: 0px;
}
.latest-work-header{
    color:  orangered;
}
.latest-work-card{

    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px darkgray;
}
.card-heading{

    font-size: 24px;
    color: #363958;
}
.work-section{
    height: 850px;
    margin-top: 200px;


}

.enquire-section{

    height: 400px;
}
.enquire-box{

    /* background-image: url("images/enq-bj1.png");
    background-repeat: no-repeat;
    background-position:center; */
    background-color: blue;
    height: 110px;
    align-items: center;
    margin: 150px 300px;
    padding: 50px;
    border-radius: 30px;
}
.btn-alaign{

    margin-top: 30px;
    margin-left: 100px;
}
.enq-head{

    color: white;
}
.contact-box{

    text-align: center;
}
.icon-box{
    height: 50px;
}
.icon-box img {
    height: 50px;
    width: 50px;
}
.contact-heading{
    font-size: 24px;
    padding-bottom: 0;
    color: darkgray;
}
.contact-email{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
}

.my-skill-section{

    height: 480px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 0;
    padding: 50px 0 ;
    text-align: center;
}
.skill-logo-width{
    width: 12%;
    float: left;
    margin: 0 1.2%;
    padding-left: 2%;
    transition: 0.3s;
}
.skill-logo-width:hover{
    /* width: 12%; */

}
.skill-logo-width img {
    width: 100%;
    border-radius: 30%;
    box-shadow: 5px 10px 10px darkgrey ;
    transition: 0.3s;
    
}
.skill-logo-width img:hover{
    border-radius: 50%;
}
.text-alaign{
    text-align: center;
    padding: 20px 0;
}



